<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display&display=swap" rel="stylesheet">

{%- capture flickity_options -%}
{
  "prevNextButtons": true,
  "pageDots": false,
  "contain": true,
  "cellAlign": "left",
  "groupCells": true,
  "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
}
{%- endcapture -%}

<div class="product-carousel">
	{% if section.settings.title != blank %}
	<div class="section-header text-center">
	    <h2>{{ section.settings.title | escape }}</h2>
  	</div>
  	{% endif %}

  	{%- assign collection = collections[section.settings.collection] -%}
  	{%- assign product_limit = section.settings.product_count -%}

  	<div class="carousel-wrapper js-flickity" data-flickity='{{ flickity_options }}'>
    	{% for product in collection.products limit: product_limit %}
    	<div class="carousel-card">
            <a class="product-image-wrapper" href="{{ product.url | within: collection }}">
                {% if product.available and product.tags contains 'new' %}
                <div class="product-badge new"><span>New</span></div>
                {% endif %}
                {% unless product.metafields.global.featured == blank %}
                <img class="product-image" src="{{ product.featured_image | img_url: 'master'}}"  alt="{{ product.title | escape }}">
                {% endunless %}
            </a>
            <a href="{{ product.url | within: collection }}">
                <h4>{{ product.title }}</h4>
            </a>
            <p>{{ product.description | truncate: 120 }}</p>
            <h5 class="product-price">{{ product.price | money }} <span>{% if product.price <= product.compare_at_price %} {{ product.compare_at_price | money }}{% endif %}</span></h5>
            <form method="post" action="/cart/add">
                <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                <input type="submit" value="Add to bag" class="product-add-to-cart" />
            </form>
    	</div>  
    	{% endfor %}
  	</div>
</div>
    


<style>
  
    .product-carousel {
      	font-family: 'Open Sans', sans-serif;
        padding-left: 24px;
        padding-right: 24px;
        margin: 128px auto;
        max-width: 1440px;
      	width: 100%;
      	box-sizing: border-box;
    }
    .product-carousel a {
      	text-decoration: none;
    }
    .product-carousel .carousel-wrapper:focus {
        outline: none !important;
        box-shadow: none !important;
        border: none !important;
    }
    .product-carousel .carousel-card {
        width: 330px;
        margin: 0 12px;
        display: block;
        height: auto;
    }
    .product-carousel .flickity-prev-next-button {
        top: 220px;
    }
    .product-carousel .product-image-wrapper {
        display: block;
        aspect-ratio: 3/4;
        background: #eeeeee;
    }
    .product-carousel .carousel-card img {
        max-width: 100%;
    }
    .product-carousel h2,
    .product-carousel .carousel-card h4 {
        font-family: 'Playfair Display', serif;
    }
    .product-carousel h2 {
      	font-size: 36px;
      	line-height: 48px;
      	letter-spacing: -0.43px;
      	margin: 0 0 24px;
    }
    .product-carousel .carousel-card h4 {
      	font-size: 24px;
      	line-height: 32px;
      	letter-spacing: -0.29px;
      	margin: 24px 0 12px;
    }
    .product-carousel .carousel-card p {
      	font-size: 12px;
      	line-height: 1.5;
      	letter-spacing: 0.29px;
      	margin: 12px 0;
    }
    .product-carousel .carousel-card h5 {
      	font-size: 12px;
      	line-height: 1.5;
      	font-weight: 600;
      	letter-spacing: 0.29px;
      	margin: 12px 0 24px;
    }
    .flickity-button:disabled {
        pointer-events: all !important;
    }


    @media screen and (max-width: 920px) {
    }
 

    @media screen and (max-width: 767px) {
        .product-carousel {
            padding-left: 12px;
            padding-right: 12px;
        }
        .product-carousel .carousel-card {
            width: 300px;
        	margin: 0 6px;
        }
        .product-carousel .flickity-prev-next-button {
            top: 200px;
        }
    }

</style>



<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script defer src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>


{% schema %}

{
    "name": "Product Carousel",
    "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Header",
          "default": "Product Carousel"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "range",
          "id": "product_count",
          "min": 4,
          "max": 12,
          "label": "Number of products to display",
          "default": 4
        }
    ],
    "presets": [
        {
          "category": "Collection",
          "name": "Product Carousel",
          "settings": {}
        }
    ]
}

{% endschema %}