{%- capture flickity_options -%}
{
  "prevNextButtons": true,
  "pageDots": false,
  "contain": true,
  "cellAlign": "left",
  "groupCells": true,
  "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
}
{%- endcapture -%}


<div class="featured-collection-slider">
    {% if section.settings.title != blank %}
    <div class="section-headerh text-center">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
    {% endif %}
     
    {%- assign collection = collections[section.settings.collection] -%}
    {%- assign product_limit = section.settings.product_count -%}
     
 	<div class="products-carousel js-flickityh" data-flickity='{{ flickity_options }}'>
      {% for product in collection.products limit: product_limit %}
      <div class="carousel-card">
        <a class="products-carousel-image" href="{{ product.url | within: collection }}">
          {% if product.available and product.tags contains 'new' %}
              <div class="product-badge new"><span>New</span></div>
          {% endif %}
          {% unless product.metafields.global.featured == blank %}
          <img class="img-explore" src="{{ product.featured_image | img_url: 'master'}}"  alt="{{ product.title | escape }}">
          {% endunless %}
        </a>
        <a href="{{ product.url | within: collection }}">
          <h4>{{ product.title }}</h4>
        </a>
        <p>{{ product.description | truncate: 120 }}</p>
        <p>{{ product.price | money }} <span>{% if product.price <= product.compare_at_price %} {{ product.compare_at_price | money }}{% endif %}</span></p>
        <form method="post" action="/cart/add">
          <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
          <input type="submit" value="Add to bag" class="btn" />
        </form>
      </div>  
      {% endfor %}
  	</div>
    </div>
    


    <style>
        .featured-collection-slider{
          padding-left: 55px;
          padding-right: 55px;
          margin: 0 auto;
        }
        .featured-collection-slider .products-carousel:focus {
            outline: none !important;
            box-shadow: none !important;
            border: none !important;
       
        }
        .featured-collection-slider .carousel-card{
          width:25%;
          padding: 0 15px;
          display: block;
        }
        .featured-collection-slider .carousel-card img {
            max-width: 100%;
        }
        .featured-collection-slider .carousel-card p {
        }
        .flickity-button:disabled{
          pointer-events: all!important;
        }
      .products-carousel-image {
        display: block;
        height: 440px;
        background: #eeeeee;
      }

      @media screen and (max-width: 920px){
          .featured-collection-slider{
            padding-left: 15px;
            padding-right: 15px;
          }
          .featured-collection-slider .carousel-cell{
            width:50%;
          }
        }
        @media screen and (max-width: 767px){
          .featured-collection-slider .carousel-cell{
            width:100%;
          }
        }
        </style>



<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script defer src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>


    {% schema %}
{
  "name": "Product Carousel",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header",
      "default": "Product Carousel"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "product_count",
      "min": 4,
      "max": 12,
      "label": "Number of products to display",
      "default": 4
    }
  ],
  "presets": [
    {
      "category": "Collection",
      "name": "Product Carousel",
      "settings": {}
    }
  ]
}
{% endschema %}